<h1>All Zombies</h1>
<ul>
	<%- @zombies.each do |zombie| %>
		<li><%= link_to zombie.name, zombie%> (<%= zombie.graveyard%>) <%=%></li>
	<%end%>
</ul>
<p><%=link_to "Add New Zombie", new_zombie_path%>
